extends ../layout

block content
    
    h1.
        User ID #{user._id}
    form(action='/users/#{user._id}/edit',method='post',name='upuser',enctype='application/x-www-form-urlencoded')
        p Name: 
            input#inputName(type='text', value='#{user.name}', name='name')
        p Nick: 
            input#inputNick(type='text', value='#{user.nick}', name='nick')
        p Password: 
            input#inputPass(type='password', value='#{user.password}', name='password')
        p Type: 
            input#inputType(type='text', value='#{user.type}', name='type')
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Update
                    
        
