extends ../layout

block content
    
    h1.
         #{title}
    ul
        - each user, i in users
            li
                = user.name
                = user.nick
                = user._id
                form(action='/users/#{user._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                p
                    a(href='/users/#{user._id}/edit') Edit
                p
                    a(href='/users/#{user._id}') Show
                p
                    a(href='/users/#{user._id}/delete') Delete
    
